<% include ./partials/boilerplate.ejs %>


<div class="formContainer">
    <form action="/toDo/<%= data.id%>?_method=PUT" method="POST">
        <input type="text" name="chore" placeholder="edit chore" value ="<%= data.chore %>">
        <br>
        <br>
        <input type="text" name="description" placeholder="edit description" value ="<%= data.description %>">
        <br>
        <br>
        <input type="text" name="status" placeholder="edit status" value ="<%= data.status %>">
        <br>
        <br>
        <input type="submit" value="Edit it!" />
        <br>
    </form>
</div>











<% include ./partials/end.ejs %>
