
<% include ./partials/boilerplate.ejs %>



<% data.forEach((todo) => { %>
<div class="dataContainer">

  <h1 id="chore"><%= todo.chore %></h1>
  <br>
  <h2 id="description"><%= todo.description %></h2>
  <br>
  <h3 id="status"><%= todo.status %></h3>
  <br>

</div>




<% }) %>


<a href="/toDo/add"><button type="button" id="add">Add to List</button></a>





<% include ./partials/end.ejs %>
