<% include ./partials/boilerplate.ejs %>


<div class="dataContainer">

  <h1 id="chore"><%= data.chore %></h1>
  <br>
  <h2 id="description"><%= data.description %></h2>
  <br>
  <h3 id="status"><%= data.status %></h3>
  <br>

</div>


<a href="/toDo">Back to list </a>








<% include ./partials/end.ejs %>
