<% include ./partials/boilerplate.ejs %>


<div class="formContainer">
    <form action="/toDo" method="POST">
        <input type="text" name="chore" placeholder="chore">
        <br>
        <br>
        <input type="text" name="description" placeholder="description">
        <br>
        <br>
        <input type="text" name="status" placeholder="status">
        <br>
        <br>
        <input type="submit" value="submit">
        <br>
    </form>
</div>











<% include ./partials/end.ejs %>
